
.root{
  min-height: 100vh;
  padding: 20px;
  background-image: url('./img/rick-y-morty-app.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow:hidden;
}

